@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.hidden {
  display: none;
}

.button {
  padding: 8px 16px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}

.button--like {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.button--like:hover {
  background-color: orangered;
}

.like-count {
  font-size: 24px;
  font-weight: 600;
}

.button--expand {
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: transform 200ms ease-out, background-color 200ms ease-out;
}

.button--expand .line:not(:last-child) {
  margin-bottom: 8px;
}

.button--expand .line {
  display: flex;
}

.button--expand .line__left,
.button--expand .line__right {
  height: 2px;
  width: 12px;
  background-color: #fff;
  transition: transform 200ms ease-out;
}

.button--expand .line__left {
  transform: translateX(2px) rotate(45deg);
}

.button--expand .line__right {
  transform: translateX(-2px) rotate(-45deg);
}

.button--expanded {
  background-color: orangered;
  transform: rotate(180deg);
}

.button--expanded .line:nth-child(2) .line__left {
  transform: translate(2px, -2px) rotate(-45deg);
}

.button--expanded .line:nth-child(2) .line__right {
  transform: translate(-2px, -2px) rotate(45deg);
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 2;
}

.actions a:not(:last-child) {
  margin-right: 14px;
}

.loading {
  text-align: center;
  margin: 96px 0;
}

.post {
  color: #000;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 24px;
}

.post__header {
  display: flex;
}

.post__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 24px;
  border-radius: 12px;
}

.post__title {
  margin-top: 0;
  margin-bottom: 12px;
}

.metadata {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.metadata__separator {
  margin: 0 8px;
}

.owner-image {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 8px;
}

.post__comments {
  margin-top: 24px;
}

.post__comment:not(:last-child) {
  margin-bottom: 24px;
}

.modal {
  position: fixed;
  top: 50%;
  left: calc(50% - 16px);
  transform: translate(-50%, -100vh) rotate(720deg);
  background-color: #000;
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 16px;
  padding: 24px;
  border-radius: 24px;
  transition: transform 500ms ease-out;
}

.modal.modal--active {
  transform: translate(-50%, -50%);
}
